<% container_element = element.is_a?(Fe::QuestionGrid) || (element.is_a?(Fe::ChoiceField) && element.style == "yes-no") %>
<% if container_element %>
  <!-- add a droppable block before and after each container element (question_grid / choice_field) so that the admin can move elements out of a container element -->
  <li class="droppable around-container before-container" data-element_id="<%= element.id %>" data-url="<%= drop_fe_admin_question_sheet_page_element_path(@page.question_sheet_id, @page.id, element.id, before: true) %>"></li>
<% end %>

<li class="element sortable <%= "container" if container_element %>" id="element_<%= element.id %>" data-element_id="<%= element.id %>">
  <div class="controls">
  	<ul>
  		<li><%= link_to "edit", edit_fe_admin_question_sheet_page_element_path(@page.question_sheet.id, @page.id, element.id), remote: true, method: :get, class: "edit", title: "Edit this element" %></li>
  <% if in_grid -%>		
  		<li><%= link_to("remove", remove_from_grid_fe_admin_question_sheet_page_element_path(@page.question_sheet.id, @page.id, element.id), remote: true, class: "remove", title: "remove" )%></li>
  <% end -%>
      <li><%= link_to "duplicate",  duplicate_fe_admin_question_sheet_page_element_path(@page.question_sheet.id, @page.id, element.id), remote: true, method: :post, class: "duplicate", title: "Duplicate this element" %></li>
      <li><%= link_to("Delete", fe_admin_question_sheet_page_element_path( @page.question_sheet_id,  @page.id, element.id), remote: true, method: :delete, class: "delete", data: {confirm: "Are you sure you want to remove this element from this form?"}, title: "Permanently delete this item") %></li>
  		<li><a href="#" class="handle" title="Reorder this element">drag</a></li>
  	</ul>
  </div>
  <div class="q" id="element_<%= dom_id(element) %>">
      <%= render "fe/admin/question_pages/element_show", element: element %>
  </div>
  <div class="q q_form" id="element_form_<%= dom_id(element) %>">
  </div>
</li>

<% if container_element %>
  <li class="droppable around-container after-container" data-element_id="<%= element.id %>" data-url="<%= drop_fe_admin_question_sheet_page_element_path(@page.question_sheet_id, @page.id, element.id, after: true) %>"></li>
<% end %>
