<p>
  <label for="element_label" class="desc">Label (English) <span class="required">required</span></label>
  <%= f.text_field :label, maxlength: Fe::Element.max_label_length %>
</p>
<% @page.question_sheet.languages.select(&:present?).each do |language| %>
  <p>
  <label for="element_label_translations_<%= language %>" class="desc">Label (<%= Fe::LANGUAGES[language] %>) <span class="required">required</span></label>
  <%= text_field_tag "element[label_translations][#{language}]", @element.label_translations[language] %>
  </p>
<% end %>

<p>
  <label for="element_tooltip" class="desc">Tip (English)</label>
  <%= f.text_field :tooltip %>
</p>
<% @page.question_sheet.languages.select(&:present?).each do |language| %>
  <p>
    <label for="element_tip_translations_<%= language %>" class="desc">Tip (<%= Fe::LANGUAGES[language] %>)</label>
  <%= text_field_tag "element[tip_translations][#{language}]", @element.tip_translations[language] %>
  </p>
<% end %>

<%= render "fe/admin/panels/common_boolean_fields", f: f %>
