<%- options = [ Fe::OptionGroup.new('Choose One', [
                    Fe::Option.new('drop-down', 'Drop Down'),
                    Fe::Option.new('radio', 'Radio Buttons'),
					          Fe::Option.new('rating', 'Rating'),
					          Fe::Option.new('acceptance', 'Acceptance'),
	                  Fe::Option.new('yes-no', 'Yes/No'),
                    Fe::Option.new('country', 'Country')
                  ]),
                Fe::OptionGroup.new('Choose Many', [
                    Fe::Option.new('checkbox', 'Checkboxes')
                  ])
              ]
%>
    <div class="field"><label for="element_style" class="desc">Style</label>
        <%= select_tag 'element[style]', option_groups_from_collection_for_select(options, 'group', 'label', 'key', 'value', @element.style),
          :onchange => "if(['acceptance', 'yes-no'].include($F('element[style]'))) $('choices_section').hide(); else $('choices_section').show();" %></div>

<%= render 'fe/admin/panels/common_fields', :f => f %>

<% if @element.style == 'rating' %>
  <% %w(before after na).each do |prefix| %>
    <p>
      <% text = prefix == 'na' ? "\"Don't Know\" " : "#{prefix.capitalize} Rating" %>
      <% label = "(Optional) #{text} Label" %>
      <label for="element_rating_<%= prefix %>_label" class="desc"><%= label %> (English)</label>
      <%= f.text_field :"rating_#{prefix}_label", :maxlength => Fe::Element.max_label_length %>
    </p>

    <% @page.question_sheet.languages.select(&:present?).each do |language| %>
      <p>
        <label for="element_rating_<%= prefix %>_label_translations_<%= language %>" class="desc"><%= label %> (<%= Fe::LANGUAGES[language] %>)</label>
        <% translations_hash = @element.send("rating_#{prefix}_label_translations") || {} %>
        <%= text_field_tag "element[rating_#{prefix}_label_translations][#{language}]", translations_hash[language] %>
      </p>
    <% end %>
  <% end %>
<% end %>

<div class="choices_section" style="display:<%= ['acceptance', 'yes-no'].include?(@element.style) ? 'none' : 'block' %>">
  <h3>Choices<br/>
  <% showXML = !@element.source.blank? %>
  <a class="link-show-xml" style="font-size: 11px; font-weight: normal; display:<% if showXML -%>none<%else-%>block<%end-%>" href="javascript:void(0);">Use External XML Feed</a>
  <a class="link-show-csv" style="font-size: 11px; font-weight: normal; display:<% if showXML -%>block<%else-%>none<%end-%>" href="javascript:void(0);">Manually Enter Choices</a></h3>

  <div class="csvChoices" style="display:<% if showXML -%>none<%else-%>block<%end-%>">
    <p>
    <label for="element_content" class="desc"><%= _('Choices (English) - One choice per line.  To specify a value, split the label and value with a semi-colon, ie. "Value;Label".  The value is what gets displayed on the read-only view.  If no value is specified, the value will default to the choice text.') %></label>
      <%= f.text_area :content, :rows => 6, :cols => 80 %>
    </p>
    <% @page.question_sheet.languages.select(&:present?).each do |language| %>
      <p>
        <label for="element_content_translations_<%= language %>" class="desc">Choices (<%= Fe::LANGUAGES[language] %>)</label>
        <%= text_area_tag "element[content_translations][#{language}]", @element.content_translations[language], :rows => 6, :cols => 80 %>
      </p>
    <% end %>

  </div>

  <p>
    <%= f.check_box :hide_option_labels, :class => 'inlinecheck' %>
    <label for="element_hide_option_labels" class="inline">Hide Option Labels</label>
  </p>

  <div class="xmlChoices" style="display:<% if showXML -%>block<%else-%>none<%end-%>">
  	<p><label for="element_source" class="desc">XML Feed for Choices</label>
  		<%= f.text_field :source %></p>

      <p><label for="element_text_xpath" class="desc">XPath to Choice Text</label>
  		<%= f.text_field :text_xpath %></p>

      <p><label for="element_value_xpath" class="desc">XPath to Choice Value</label>
  		<%= f.text_field :value_xpath %></p>
  </div>
</div>
