<% if !@presenter.active_page %>
  <div>
    The administrator has not set up this questionnaire yet.
  </div>
<% else %>
  <div id="controls">
    <div id="panel">
      <%= render partial: "fe/answer_sheets/pages_list" %>
    </div>
    <div id="legend">
      <%= image_tag("fe/icons/question-balloon.png") %> <%= _("Rolling over this symbol gives you help") %><br/>
      <%= image_tag("fe/icons/star-small.png") %> <%= _("Marks a required field") %>
    </div>
  </div>

  <div id="preview">
      <%= render partial: "fe/answer_sheets/title" %>
      <%= render partial: "fe/answer_pages/answer_page", locals: { show_first: true } %>
  </div>

  <script type="text/javascript">
    // Prevent duplicate event handler bindings during Turbo navigation
    window.feAnswerSheetEventHandlersBound = window.feAnswerSheetEventHandlersBound || false;

    $(document).on('ready turbo:load', function() {
      page_handler = fe.pageHandler;
      page_handler.initialize("<%= @presenter.active_page_link.try(:dom_id) %>");
      // Event.observe(window, "unload", page_handler.savePage);

      // Validation.add("validate-phone", "Please enter a valid phone number +1-800-555-1234 x102", {
      //   pattern: /((\(\d{3}\)?)|(\d{3}))((\s|-|\.|\/)?)(\d{3})((\s|-|\.|\/)?)(\d{4})\s*([xX]|[eE][xX][tT])?\.?\s*\d*$/
      // });
      // Validation.add("validate-rating", "Please select one of the above options.", function(v,elm) {
      //  var p = elm.parentNode.parentNode;
      //  var options = p.getElementsByTagName("INPUT");
      //  return $A(options).any(function(elm) {
      //    return $F(elm);
      //  });
      // })

      // global responders for all Ajax requests - only bind once
      if (!window.feAnswerSheetEventHandlersBound) {
        window.feAnswerSheetEventHandlersBound = true;
        $(document).ajaxStart(function() {
          $("#page_ajax_spinner").show();
          $("#page_ajax_spinner").css({top: $(window).scrollTop() + 200});
        }).ajaxComplete(function() {
          $("#page_ajax_spinner").hide();
        });
      }

      $(document).trigger("fePageLoaded");
    });

    function updateTotals() {
      // Set up js for all question grids with totals
      <% if @page %>
        <% @page.question_sheet.pages.collect(&:question_grid_with_totals).flatten.each do |question_grid_with_total|
            question_grid_with_total.total_cols.split(",").collect(&:to_i).each do |col| -%>
              try {
                var gridId = "<%= "#{question_grid_with_total.id}_#{col - 1}" %>";
                var colClass = ".col_<%= "#{question_grid_with_total.id}_#{col - 1}" %>";
                updateTotal(gridId);
                // Use .off() before .on() to prevent duplicate bindings
                $(colClass).off('change').on('change', function(e) {
                  updateTotal(gridId);
                });
              } catch(e) {}
        <%  end
          end %>
      <% end %>
    }
  </script>
  <%= render "fe/answer_sheets/submit_to" %>
<% end %>
