<% @payment = Fe::Payment.new %>
<% @application = @answer_sheet %>
<div id="<%= dom_id(payment_question) %>" class="payment_question <%= 'required' if payment_question.required? %>">
  <h2>
    Payment
  </h2>
  <% if @application %>
    <p class="appfee">
      Application Fee: <%= number_to_currency(Apply::COST) %>
    </p>
    <p class="currpayments">
      Current payments:
    </p>
    <table cellspacing="0" class="list" style="margin-bottom: 27px; width: 100%;">
			<thead>
        <tr>
          <th>
            Payment Type
          </th>
          <th>
            Payment Date
          </th>
          <th>
            Amount Paid
          </th>
          <th>
            &nbsp;
          </th>
        </tr>
			</thead>
      <tbody id="payment_table">
				<% if @application.payments.empty? %>
	        <tr>
	          <td colspan="4" id="no-payments" <% if @application.payments.length > 0 -%> style="display: none;" <% end -%>>
	            You have not yet applied any payments to this application.
	          </td>
	        </tr>
				<% else %>
					<% @application.payments.each do |payment| -%><%= render :partial => 'fe/payments/payment', :locals => {:payment => payment}%><% end -%>
				<% end %>
      </tbody>
    </table>
		<div id="payment_choices" style="<%= 'display:none' unless @application.payments.non_denied.empty? %>">
	    <p>
	      Please select one of the following three options for paying your application fee.
	    </p>
	    <div id="payment_errors">
	      <%= render :partial => "fe/payments/errors", :locals => {:payment => @payment} %>
	    </div>
	    <ul class="list-choices">
	      <li>
	        <div class="field field_check">
  	        <%= radio_button :payment, :payment_type, "Credit Card", {:onclick => "swapPayment('credit');"} %><label for="payment_payment_type_credit_card">Credit/Debit Card (Fastest - Processed immediately online)</label>
  	        <div id="pay_credit" class="pay_view" <% unless @payment.payment_type == "Credit Card" -%> style="display: none;" <% end -%>>
  	          <%= render :partial => 'fe/payments/credit' %>
  	        </div>
  	      </div>
	      </li>
	      <li>
	        <div class="field field_check">
  	        <%= radio_button :payment, :payment_type, "Staff", {:onclick => "swapPayment('staff');"} %><label for="payment_payment_type_staff">Transfer from a Staff/Project/Scholarship Fund</label>
  	        <div id="pay_staff" class="pay_view" <% unless @payment.payment_type == "Staff" -%> style="display: none;" <% end -%>>
  	          <%= render :partial => 'fe/payments/staff' %>
  	        </div>
  	      </div>
	      </li>
	    </ul>
		</div>
  <% end -%>
</div>
