<% choices = radio_button_field.choices(session[:locale]) %>
<% css_class = 'radio ' -%>
<% css_class += 'required' if radio_button_field.required?(@answer_sheet, @page) %>
<% if radio_button_field.hide_option_labels? && !['question_pages', 'question_sheets', 'elements'].include?(controller.controller_name) %>
  <tr id="<%= dom_id(radio_button_field) %>">
    <td class="col1">
      <label for="<%= dom_id(radio_button_field) %>" class="desc">
        <%= raw radio_button_field.label(session[:locale]) %>
        <% if radio_button_field.required?(@answer_sheet, @page) -%><span class="required">required</span><% end -%>
        <%= tip(radio_button_field.tooltip) if radio_button_field.tooltip.present? %>
      </label>
    </td>
  <% choices.each_with_index do |choice, num| -%>
    <td class="col">
      <% dom_id = dom_id(radio_button_field) + "_" + pretty_tag(choice[1])
         last_choice =  (num == choices.length - 1)
         css_class += radio_button_field.validation_class(@answer_sheet) if last_choice
         checked = radio_button_field.has_answer?(choice[1], @answer_sheet) 
         locked = radio_button_field.locked?(params, @answer_sheet, @presenter, current_person)
       %>
      <%= radio_button_tag "answers[#{radio_button_field.id}]", choice[1], checked,
            :id => dom_id,
            :class => css_class,
            :disabled => locked,
            :readonly => locked %>
     </td>
  <% end -%>
  </tr>
<% else %>
  <div id="<%= dom_id(radio_button_field) %>">
  <% choices.each_with_index do |choice, num| -%>
    <% dom_id = dom_id(radio_button_field) + "_" + pretty_tag(choice[1])
       last_choice =  (num == choices.length - 1)
       css_class += radio_button_field.validation_class(@answer_sheet) if last_choice
       checked = radio_button_field.has_answer?(choice[1], @answer_sheet)
       locked = radio_button_field.locked?(params, @answer_sheet, @presenter, current_person)
     %>
    <div class="radio-set">
      <%= radio_button_tag "answers[#{radio_button_field.id}]", choice[1], checked,
                :id => dom_id,
                :class => css_class,
                :disabled => locked,
                :readonly => locked %>
          <label class="choice" for="<%= dom_id %>"><%= choice[0] %></label>
    </div>
  <% end -%>
  </div>
<% end %>
