<% choices = rating.choices(session[:locale]) %>
<% dom_id = "" %>
<% locked = rating.has_answer?(params, @answer_sheet, @presenter, current_person) %>
<div id="<%= dom_id(rating) %>" class="">
  <table cellspacing="0" class="rating">
    <tr>
    <% css_class = ' ' -%>
    <% rating.choices.each_with_index do |choice, num| -%>
      <% dom_id = dom_id(rating) + "_" + pretty_tag(choice[1]) 
         last_choice =  (num == rating.choices.length - 1)
         css_class += rating.validation_class(@answer_sheet) if last_choice
         checked = rating.has_answer?(choice[1],@answer_sheet) -%>
      <td><%= radio_button_tag "answers[#{rating.id}]", choice[1], checked, 
            :id => dom_id,
              :class => "#{css_class} #{'required' if rating.required}",
              :disabled => locked,
              :readonly => locked %></td>
      <% end -%>
    </tr>
    <tr>
      <% rating.choices.each do |choice| %>
        <td><%= choice[0].html_safe %></td>
      <% end -%>
    </tr>
  </table>
  <div id="advice-validate-rating-<%= dom_id %>" class="validation-advice" style="display: none;"><%= _('Please select one of the above options.') %></div>
</div>
