<% reference = reference_question.response(@answer_sheet) %>
<% reference ||= Fe::ReferenceSheet.new %>
<% css_class = reference_question.required?(@answer_sheet, @page) ? 'required' : '' %>
<% email_css_class = reference_question.required?(@answer_sheet, @page) ? 'required email email' : '' %>
<% phone_css_class = reference_question.required?(@answer_sheet, @page) ? 'required phone phone' : '' %>
<%#= hidden_field_tag "reference[#{reference.id}]", :class => reference_question.required? && !reference.email_sent? ? 'required' : '' %>
<div id="<%= dom_id(reference_question) %>" class="reference_question">
  <ul class="questions level1">
    <li>
    <label for="<%= "name_#{reference.id}" %>" class="desc"><%= _('First Name') %></label>
      <%= text_field_tag "reference[#{reference.id}][first_name]", reference.first_name, :class => "form-control text #{css_class}", :id => "name_#{reference.id}", :readonly => reference.completed? || !@answer_sheet.try(:can_change_references?), :disabled => reference.completed? || !@answer_sheet.try(:can_change_references?) %>
    </li>
    <li>
    <label for="<%= "name_#{reference.id}" %>" class="desc"><%= _('Last Name') %> </label>
      <%= text_field_tag "reference[#{reference.id}][last_name]", reference.last_name, :class => "form-control text #{css_class}", :id => "name_#{reference.id}", :readonly => reference.completed? || !@answer_sheet.try(:can_change_references?), :disabled => reference.completed? || !@answer_sheet.try(:can_change_references?) %>
    </li>
    <li>
    <label for="<%= "name_#{reference.id}" %>" class="desc"><%= _('Relationship to You') %></label>
      <%= text_field_tag "reference[#{reference.id}][relationship]", reference.relationship, :class => "form-control text #{css_class}", :id => "name_#{reference.id}", :readonly => reference.completed? || !@answer_sheet.try(:can_change_references?), :disabled => reference.completed? || !@answer_sheet.try(:can_change_references?) %>
    </li>
    <li>
    <label for="<%= "email_#{reference.id}" %>" class="desc"><%= _('E-mail') %></label>
      <% if (!reference.email.blank?) %>
        <div class="warningText">
          <%= _('Please be aware that any changes to this email address after your reference has started filling out their form will cause their answers to be lost.') %>
        </div>
      <% end %>
      <%= text_field_tag "reference[#{reference.id}][email]", reference.email, :class => "form-control text #{email_css_class}", :id => "email_#{reference.id}", :readonly => reference.completed? || !@answer_sheet.try(:can_change_references?), :disabled => reference.completed? || !@answer_sheet.try(:can_change_references?) %>
    </li>
    <li>
    <label for="<%= "phone_#{reference.id}" %>" class="desc"><%= _('Phone') %></label>
      <%= text_field_tag "reference[#{reference.id}][phone]", reference.phone, :class => "form-control text #{phone_css_class}", :id => "phone_#{reference.id}", :readonly => reference.completed? || !@answer_sheet.try(:can_change_references?), :disabled => reference.completed? || !@answer_sheet.try(:can_change_references?) %>
    </li>
    <li>
      <% if reference.completed? %>
        <p><strong><%= _("This reference is completed") %></strong></p>
      <% else %>
        <p>
        <%= _("An invitation will be sent to this reference when you submit your application.  If you would " \
              "like to get a head start, please feel free to click 'Send Email Invitation' below.") %><br/>
              <em><strong>
        <%= _('If you already submitted your application and have returned to update your reference information - you must click "Send Email Invitation" after you ' \
          'have edited the information in order for your reference to receive another email.') %>
    </strong></em></p></li>

      <li><%= link_to(_('Send Email Invitation'), @answer_sheet ? send_reference_invite_fe_answer_sheet_path(@answer_sheet, :reference_id => reference.id) : '#', :class => 'reference_send_invite button no-left-margin', disabled: !reference.all_affecting_questions_answered) %>
      <% unless reference.all_affecting_questions_answered %>
        <div>
          <strong><i>This button is disabled because there are questions that affect whether this reference is required that need to answered first:</i></strong>
          <ul>
            <% reference.question.visibility_affecting_questions.each do |q| %>
              <% next if q.has_response?(@answer_sheet) %>
              <li>"<%= q.pages.where(question_sheet_id: @answer_sheet.question_sheet_ids).first.label %>" Page: "<%= q.label %>"</li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <br/><%= _('Invitation last sent:') %> <span id="ref_last_sent_<%= reference.id %>"><% if reference.email_sent_at.nil? -%><%= _('Never') %><% else %><%= reference.email_sent_at.strftime("%Y-%m-%d @ %I:%M%p") %><% end %></span></li>
      <% end %>
  </ul>
</div>
